*{
    box-sizing: border-box;
    font-family: 'Lobster', cursive;    
}

/* NORMALIZE */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* REGLAGES GENERAUX */

body{
    background-image: url(../img/_s_a96b82c1C2d186e0f0g64hF3DCC8F8ECE894D1D4AFDED5CAEADC214961iE7j30k64l1F4m1F4.jpg);
    scroll-behavior: smooth;
    /* effet de scroll quand on clique sur une ancre - ne marche que sur Firefox, Chrome et Opéra dernières versions */
}

h1{
    font-size: 45px; /* EMMET => ftz45px + tab */
    font-family: 'Anton', sans-serif;
    color: rgb(36, 171, 224);
    text-align: center;
    letter-spacing: 1px; /* EMMET => ls1+ tab */    
}

h2{
    font-size: 35px;
    color: rgb(168, 24, 24);
    padding: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
    /* 4 valeurs : ombre horizontale, verticale, zone de flou, couleur de l'ombre */
}

h3{
    top: 22px;
    color: rgb(111, 156, 26);
    padding: 15px;
    text-shadow: 1px 1px 2px #aaa;
}

h4{
    text-align: center;
    margin-top: 30px;
}

blockquote{
    font-style: italic;
    font-size: 120%;
}

strong{
    font-weight: bold;
}

/* ----- HEADER ----- */
header{
    background: #2c3e50;
    height: 175px;
}

#logo{
    float: left;
    width: 25%;
    background: #2c3e50;
    padding: 15px;
    text-align: center;
}

#slogan{
    float: left;
    width: 50%;
    background: #2c3e50;
    padding-top: 50px;
}

#social{
    float: left;
    width: 25%;
    }
    #social i{
        background: #2c3e50;
        font-style: 30px;
        text-align: right;
        padding: 15px 30px 0 0;
        display: block;
    }

header a{
    color: #10828c;
    text-decoration: none;
}

/* ----- FIN HEADER ----- */

/* ----- DEBUT NAV ----- */

/* nav{
    background-color: #fff;
    height: 420px;
    border-bottom: 30px solid rgb(31, 99, 161);
    text-align: center;
    width: 100%;
    position: relative;
    border-top: 50px solid rgb(31, 99, 161);
    border-left: 2px solid;
    border-right: 2px solid;
}

a{
    position: relative;
    bottom: 35px;
}

.green{
    background-color: rgb(107, 212, 177);
    position: relative;
    height: 230px;
    width: 75%;
    bottom: 6%;
    margin-left: 13%;
}

.grey{
    background-color: lightgrey;
    width: 75%;
    height: 110px;
    margin-left: 13%;
    position: relative;
    bottom: 6%;
} */

nav{
    background-color: #2980b9;
    height: 70px;
    border-bottom: 8px solid #6acafc;
    text-align: center;
    padding: 15px;
}

nav a {
    margin: 10px;
    padding: 2px 10px;
    border-radius: 10px 0px;
    border: 2px solid #fff;
    background: #6acafc;
    color: 2c3e50;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    transition: 0.5;
}

nav a:hover{
    background: #a6d6c3;
    color: #fff;
}

.activ{
    background: #2c3e50;
    color: #fff;
}

/* ----- FIN NAV ----- */
/*  FAIRE LE ZONING AVEC DES HAUTEURS ET LARGEURS AVANT DE PLACER LES ELEMENTS DANS LA ZONE POUR ENSUITE SUPPRIMER LES HAUTEURS */

main{
    background: rgba(178, 178, 178, 0.9);
    width: 1000px;
    margin: 0 auto;
}

aside{
    background: #64e6b2;
}

article{
    width: 700px; 
}

section{
    margin-top: 50px;
    padding: 20px;
}

/* ----- DEBUT PAGE SELECTEURS  */

.select p{
    color: red;
}

.select p:first-of-type{
    color: pink;
}

/* La pseudo-classe :first-of-type permet de cibler le premier élément dont l'élément parent est d'un type donné (ex.: cibler le premier élément enfant d'une div */

.select p:last-of-type{
    color: #a6d6c3;
}

/* La pseudo-classe :last-of-type cible un élément qui est le dernier enfant d'un type donné dans la liste des enfants de l'élément parent. */

.select p:nth-of-type(5), .select p:nth-of-type(6){
    color: black;
}

.select div:not(.zoneB){
    font-weight: bold;
    font-size: 30px;
}

.select .zoneA{
    color: #f56f56;
}
.select .zoneB{
    color: #996633;
}

.select .zoneB .couleurBleu{
    color: blue;
    font-size: 16px;
}

.select #zoneC{
    color: #98f32f;
}

.select #zoneD span{
    color: #32ff32;
    font-size: 30px;
    font-style: italic;
}

/* ----- DEBUT PAGE IMAGE ----- */

.bcg1, .bcg2{
    background-color: rgb(163, 212, 151);
}

.bcg1{
    position: relative;
    bottom: 85px;
}

#imgcss{
    position: relative;
    top: 60px;
    left: 20px;
}

.textefond{
    position: relative;
    border-radius: 15px;
    padding: 10px;
    width: 800px;
    left: 95px;
    bottom: 485px;
    background-color: rgba(197,213,234,0.6);
}

.eiffel{
    position: relative;
    left: 37%;
    margin-bottom: 100px;
    
}

.imagefond{
    text-align: center;
}

.img12{
    text-align: center;
}

.img1{
    border: 5px solid whitesmoke;
    margin: 25px;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.img1:hover{
    border: 15px solid whitesmoke;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.img2{
    border: 5px solid whitesmoke;
    margin: 25px;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.img2:hover{
    border: 15px solid whitesmoke;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.img3{
    border: 5px solid whitesmoke;
    margin-left: 345px;
    margin-top: 30px;
    margin-bottom: 50px;
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
}

.img3:hover{
    border: 15px solid whitesmoke;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* ----- FIN PAGE IMAGE ----- */

/* ----- BOUTON TOP ----- */

button{
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 250%;
    color: rgba(145, 29, 240, 0.5);
}

/* ----- FIN BOUTON TOP ----- */

/* ----- DEBUT PAGE POSITION ----- */

.centre{
    background-color: rgb(52, 152, 209);
    width: 500px;
    height: 200px;
    margin: 0 auto;
}

.absolute{
    position: absolute;
    background: orange;
    width: 100px;
    height: 100px;
    top: 25%;
    left: 10%;
}

.relative{
    background-color: #2d5c7f;
    height: 400px;
    width: 400px;
    position: relative;
    bottom: 10px;
    left: 100px;
    }
    .relative div{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background: #fff1a8;
    }

    /* ----- POURCENTAGE ----- */

.trente{
    width: 30%;
    padding: 20px;
    font-size: 22px;
    background: #3C1B1F;
    color: #f6e1b5;
    font-weight: bold;
}

.cinquante{
    width: 50%;
    padding: 20px;
    font-size: 22px;
    background: rgba(151, 9, 9, 0.712);
    color: #f6e1b5;
    font-weight: bold;
}

.cent{
    width: 100%;
    padding: 20px;
    font-size: 22px;
    background: #f6e1b5;
    color: rgba(151, 9, 9, 0.712);
    font-weight: bold;
}

/* ----- ATTRIBUT FLOAT ----- */

.un, .deux, .trois, .quatre{
    background: yellow;
    border: 1px solid red;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 5px;
    float: left;
}

.cinq, .six, .sept{
    background: yellow;
    border: 1px solid red;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 5px;
    float: left;
}

.huit, .neuf{
    background: yellow;
    border: 1px solid red;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 5px;
    float: left;
}

.dix{
    background: yellow;
    border: 1px solid red;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 5px;
}

.clear{
    clear: both;
}

/* ----- EXERCICE SUR LE FLOAT ----- */

.float{
    border-left: 1px solid rgb(95, 93, 93);
    border-right: 1px solid rgb(95, 93, 93);
    border-top: 70px solid rgb(95, 93, 93);
    border-bottom: 70px solid rgb(95, 93, 93);
    height: 400px;
    width: 90%;
    margin: auto;
    padding: 0;
}

.bloc1{
    background-color: rgb(62, 88, 161);
    width: 25%;
    height: 100%;
    float: left;
}

.bloc2{
    background-color: rgb(245, 224, 130);
    width: 25%;
    height: 100%;
    float: left;
}
.bloc3{
    background-color: orange;
    width: 25%;
    height: 100%;
    float: left;
}

.bloc4{
    background-color: rgb(155, 47, 47);
    width: 25%;
    height: 100%;
    float: left;
}

/* ----- FLEXBOX ----- */

.flexbox{
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.box1, .box2, .box3, .box4{
    border: 1px solid blue;
    height: 150px;
    width: 150px;
    background-color: blue;
    color: white;
    float: left;
    margin: 45px;
    position: relative;
    font-size: 45px;
}

/* ----- EXERCICE SUR LE FLOAT 2 : TP Miaou 1 ----- */

#miaou{
    background-color: rgb(38, 58, 122);
}

#mission{
    text-align: center;
    color: whitesmoke;
}

.chat01{
    float: left;
    padding: 5%;
    position: relative;
    left: 120px;
}

.chat02{
    float: left;
    padding: 5%;
    position: relative;
    left: 10%;
}

.chat03{
    float: left;
    padding: 5%;
    position: relative;
    left: 50px;
    top: 20px;
}

.chat04{
    float: left;
    padding: 5%;
    position: relative;
    left: 100px;
    bottom: 45px;
}

.chat05{
    float: left;
    padding: 5%;
    position: relative;
    left: 50px;
    bottom: 30px;
}

.chat06{
    float: left;
    padding: 5%;
    position: relative;
    right: 10px;
    bottom: 65px;
}

.chat07{
    float: left;
    padding: 5%;
    position: relative;
    left: 85px;
    bottom: 95px;
}

.chat08{
    float: left;
    padding: 5%;
    position: relative;
    left: 65px;
    bottom: 90px;
}

.chat09{
    padding: 5%;
    position: relative;
    left: 40px;
    bottom: 100px;
}


.clear{
    clear: both;
}

/* ----- EXERCICE SUR LE FLOAT 2 : TP Miaou 1 ----- */

.chat1{
    float: left;
    padding: 20px;
    position: relative;
    left: 40px;
    color: whitesmoke;    
}

.chat2{
    float: left;
    padding: 20px;
    position: relative;
    left: 50px;
    color: whitesmoke;    
}

.chat3{
    float: left;
    padding: 20px;
    position: relative;
    left: 65px;
    top: 20px;
    color: whitesmoke;    
}

.chat4{
    float: left;
    padding: 20px;
    position: relative;
    left: 60px;
    color: whitesmoke;    
}

.chat5{
    float: left;
    padding: 20px;
    position: relative;
    left: 90px;
    top: 20px;
}

.chat6{
    float: left;
    padding: 20px;
    position: relative;
    left: 90px;
    bottom: 30px;
}

.chat7{
    float: left;
    padding: 20px;
    position: relative;
    left: 70px;
    top: 25px;
}

.chat8{
    float: left;
    padding: 20px;
    position: relative;
    left: 220px;
    bottom: 15px;
}

.chat9{
    padding: 20px;
    position: relative;
    left: 250px;
    bottom: 20px;
}


/* ----- FIN PAGE POSITION */

/* ----- DEBUT PAGE ZONING ----- */

/* ----- ZONING 1 ----- */

#zoning1{
    margin: 5%;
    height: 800px;
}

.haut{
    background-color: rgb(240, 214, 98);
    text-align: center;
    height: 75px;
}

.gauche{
    background-color: rgb(116, 197, 116);
    text-align: center;
    float: left;
    width: 25%;
    height: 555px;
}

.droite{
    background-color: rgb(56, 105, 85);
    text-align: center;
    height: 555px;
}

/* ----- ZONING 2 ----- */

#zoning2{
    text-align: center;
    height: 800px;
}

.head{
    background-color: whitesmoke;
    height: 10%;
}

.leftside{
    background-color: rgb(52, 152, 209);
    float: left;
    color: whitesmoke;
    height: 80%;
    width: 25%;
}

.middleside{
    background-color: #2d5c7f;
    color: whitesmoke;
    height: 80%;
    width: 75%;
}

.rightside{
    background-color: rgb(52, 152, 209);
    color: whitesmoke;
    float: right;
    position: relative;
    bottom: 80%;
    height: 80%;
    width: 25%;
}

/* ----- ZONING 3 ----- */

#zoning3{
    height: 800px;
    text-align: center;
}

.sectiongauche{
    background-color: #2d5c7f;
    width: 50%;
    height: 600px;
}

.sectiondroite{
    background-color: rgb(75, 133, 75);
    float: right;
    width: 50%;
    height: 600px;
    position: relative;
    bottom: 79%;
}

.sectionfoot{
    background-color: rgb(243, 229, 167);
    height: 10%;
}

.text{
    position: relative;
    left: 25%;
}

/* ----- ZONING 4 ----- */

#zoning4{
    height: 800px;
    width: 80%;
    border: 2px solid;
    padding: 0;
    margin: 0 auto;
    /* text-align: right; */
}

.divhead{
    height: 10%;
    position: relative;
    left: 25%;
}

.head2{
    text-align: center;
}

.nav{
    background-color: #5a9bce;
    height: 5%;
    border-bottom: 10px solid lightblue;
}

.nav2{
    text-align: right;
}

.section{
    background-color: #2d5c7f;
    color: whitesmoke;
    height: 70%;
    border: 20px solid;
}

.section2{
    text-align: right;
}

.foot{
    background-color: rgb(9, 82, 110);
    height: 15%;
    text-align: center;
}

/* ----- ZONING 5 ----- */

#zoning5{
    border: 2px solid;
    margin: 3%;
    height: 800px;
    padding: 0;
    text-align: center;
}

.divhead2{
    background-color: rgb(250, 218, 131);
    height: 15%;
}

.nav3{
    background-color: rgb(216, 176, 66);
    border-bottom: 3px solid rgb(184, 148, 30);
    height: 5%;
}

.divzone{
    border: 20px solid rgba(255, 255, 255, 0.877);
    height: 70%;
}

.zone1{
    background-color: rgb(240, 217, 156);
    height: 50%;
    width: 50%;
    float: left;
}

.zone2{
    background-color: rgb(216, 176, 66);
    height: 50%;
    width: 50%;
    float: left;
}

.zone3{
    background-color: rgb(216, 176, 66);
    height: 50%;
    width: 50%;
    float: left;
}

.zone4{
    background-color: rgb(240, 217, 156);
    height: 50%;
    width: 50%;
    float: right;
}

.foot2{
    background-color: rgb(233, 203, 123);
    height: 10%;
}

/* ----- ZONING 6 ----- */

#zoning6{
    width: 90%;
    color: whitesmoke;
    text-align: center;
}

#entete{

}

.haut1{
    background-color: rgb(42, 47, 122);
    float: left;
    width: 200px;
    height: 200px;
}

.haut2{
    background-color: rgb(50, 99, 206);
    float: left;
    width: 460px;
    height: 200px;
}

.haut3{
    background-color: rgb(42, 47, 122);
    float: left;
    width: 200px;
    height: 200px;
}

.menu{
    background-color: rgb(42, 94, 72);
    height: 35px;
}

#contenu{
    height: 700px;
}

.leftzone{
    background: rgb(75, 97, 138);
    height: 700px;
    width: 175px;
}

.slideshow{
    background-color: rgb(59, 69, 92);
    position: relative;
    bottom: 700px;
    width: 685px;
    left: 175px;
    height: 250px;
}

.cdzoneef{

}

#azoneb{
    position: relative;
    left: 175px;
    bottom: 700px;
    height: 255px;
}

.Azone{
    background-color: rgb(190, 189, 189);
    float: left;
    width: 340px;
    height: 255px;
}

.Bzone{
    background-color: rgb(42, 47, 122);
    float: left;
    width: 345px;
    height: 255px;
}

.Czone{
    background-color: rgb(190, 189, 189);
    float: left;
    width: 171px;
    position: relative;
    bottom: 700px;
    left: 175px;
    height: 195px;
}

.Dzone{
    background-color: rgb(42, 47, 122);
    float: left;
    width: 171px;
    position: relative;
    bottom: 700px;
    left: 175px;
    height: 195px;
}

.Ezone{
    background-color: rgb(202, 199, 199);
    float: left;
    width: 171px;
    position: relative;
    bottom: 700px;
    left: 175px;
    height: 195px;
}

.Fzone{
    background-color: rgb(42, 47, 122);
    float: left;
    width: 172px;
    position: relative;
    bottom: 700px;
    left: 175px;
    height: 195px;
}

#bas{
    background-color: rgb(32, 73, 126);
    height: 50px;
}

/* ----- FIN PAGE ZONING ----- */

/* -----DEBUT PAGE TABLEAU */

table{
   border: 4px solid rgb(55, 165, 255);
   border-collapse: collapse;
   width: 90%;
   margin: auto;
   text-align: center;
   margin-bottom: 20px;
}


thead, tfoot{
    background-color: rgb(163, 201, 231);
    border: 2px solid rgb(55, 165, 255);
}

tr{
    border: 1px solid rgb(55, 165, 255);
}

td{
    border: 1px solid rgb(55, 165, 255);
    padding: 5px;
}

/* ----- FIN PAGE TABLEAU ----- */

/* ----- DEBUT PAGE LISTES ----- */

ul.fruit{
    list-style: none;
}

ul.fruit li{
    display: inline;
    margin: 15px;
}

.liste{
    display: inline;
}

li{
    margin-left: 30px;
}

/* ----- FIN PAGE LISTE ----- */

/* ----- DEBUT PAGE LIENS ET MENUS ----- */

#lien{
    text-align: center;
}

.lien{
    text-decoration: none;
    border: 2px solid rgb(26, 26, 66);
    color: whitesmoke;
    background-color: rgb(26, 26, 66);
    border-radius: 20px 20px;
    margin-left: 50px;
    padding: 5px;
    box-shadow: 0 0 20px rgb(26, 26, 66);
}

.lien2{
    text-decoration: none;
}

#menu2{
    text-align: center;
}

.menu2{
    text-decoration: none;
    border: 2px solid whitesmoke;
    color: rgb(116, 109, 109);
    border-radius: 10px 0;
    padding: 5px;
    margin-left: 30px;
}


/* ----- Menu déroulant ----- */

#menuDeroulant{}

#menuDeroulant ul.li{
    
}

/* ----- FIN PAGE LIENS & MENU ----- */

/* ----- DEBUT PAGE FORMULAIRE ----- */

form{
    width: 75%;
    margin: auto;
}

fieldset{
    border: 1px solid rgb(37, 54, 110);
    background-color: rgb(37, 54, 110);
    border-radius: 10px 10px;
    color: whitesmoke;
}

label{
}

input{
    text-align: center;
}

/* ----- FIN PAGE FORMULAIRE ----- */

/* ----- DEBUT PAGE MULTIMEDIA ----- */

.videoFond{
    padding-left: 0;
    padding-right: 0;
}

.videoFond video{
    position: absolute;
    z-index: 1; /*ordre de superposition des éléments sur l'axe vertical et /!\ ne fonctionne que sur un élément ayant une position (relative, fixe ou absolute)*/
    width: 100%;
}

.videoTexte{
    position: relative;
    width: 100%;
    height: 500px;
}

.videoFond p{
    position: absolute;
    z-index: 2; /* il sera visuellement au-dessus de la video z-index: 1 */
    width: 500px;
    margin: auto;
    background: rgba(255, 255, 255, 0.60);
    left: 250px;
    top: 150px;
    padding: 20px;
    font-size: 120%;
    border-radius: 10px;
}

iframe[src="https://www.youtube.com/embed/MHYWgf3VqoY"]{
    width: 100%;
}

.audio{
    text-align: center;
}

iframe[allowfullscreen]{
    width: 100%;
}

/* ----- FIN PAGE MULTIMEDIA ----- */

/* ----- DEBUT PAGE ANIMATION ----- */

/* Infobulle */

.infoBulle{
    height: 250px;
    width: 500px;
    margin: auto;
    padding-top: 15px;
    background: #444;
    box-shadow: 0 0 50px #222 inset; /* inset place l'ombre à l'intérieur */
}

.infoBulle p{
    text-align: center;
    padding-top: 30px;
}

.infoBulle a{
    color: #ccc;
    text-shadow: 0 -2px 0 black;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 15px;
}

.infoBulle a:hover{
    text-shadow: 0 1px 2px black;
    background: rgba(0, 0, 0, .4); /* .4 = 0.4*/
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    color: #fff;
}

.infoBulle a span{
    position: absolute;
    padding: 15px;
    margin-top: 23px;
    margin-left: 35px;
    background: rgba(0, 0, 0, .9);
    opacity: 0;
    color: #09c;
    transform: scale(0) rotateZ(-12deg); /* rotation sur l'axe vertical
    scale() => échelle taille du zoom */
    transition: .25s;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

.infoBulle a:hover span{
    opacity: 1;
    transform: scale(1) rotateZ(0);
}

.infoBulle a span:before{ /*:before =>on inject quelque chose avant*/
    content: '';
    position: absolute;
    top: -6px;
    left: 10px;
    border-bottom: 6px solid rgba(0, 0, 0, .9);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

/*  Images en gris (grayscale) et flouté (blur) */
.imgEffects{
    width: 302px;
    height: 320px;
    margin: 70px auto;
}

.imgEffects li{
    list-style: none;
    float: left;
    width: 141px;
    height: 150px;
    margin: 5px;
}

.imgEffects img{
    position: absolute;
    z-index: 1;
    height: 150px;
    box-shadow: 0 0 3px black;
    transition: .5s cubic-bezier(0, 3, .4, 1);
    /* cubic-bezier commence par 0 et se termine par 1 puis entre nous mettrons nos valeurs => http://cubic-bezier.com*/
}

.imgEffects li:hover img{
    z-index: 2;
    transform: scale(1.5);
    box-shadow: 0 0 10px black;
}

.imgEffects:hover li:not(:hover) img{
    filter: grayscale(1) blur(5px);
}

/* rotation du menu */

#menuRotate{
    height: 360px;
    width: 576px;
    margin: 100px auto;
    background: #627878;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
}

#menuRotate .masque{
    position: absolute;
    z-index: 50;
    width: 585px;
    height: 135px;
    top: 0;
    left: 0;
    background: linear-gradient(#324040, #627878);
}

#menuRotate .ombre{
    position: absolute;
    z-index: 40;
    width: 300px;
    height: 6px;
    box-shadow: 0px 100px 3px black;
    border-radius: 75px 75px 75px 75px / 3px 3px 3px 3px; /* rayons horizontaux / verticaux */
    top: 30px;
    left: 142px;
}

#menuRotate dl{
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 155px;
    color: #324040;
    text-align: center;
    background: #04b3d2;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    transform-origin: 50% 120px;
    animation: bounceOut 0.7s ease-in-out;
}

#menuRotate dt{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 23px;
    padding-top: 5px;
}

#menuRotate dd{
    transform: rotate(180deg);
}

#menuRotate dd a{
    display: block;
    height: 24px;
    padding: 3px 0;
    color: #324040;
    text-decoration: none;
}

#menuRotate dd a:hover{
    background: rgba(255, 255, 255, 0.1);
}

#menuRotate dl:hover{
    transform: rotate(-180deg);
    animation: bounceIn 0.7s ease-in-out;
}

/* 
Les keyframes représentent le déroulement de votre animation. Les valeurs en pourcentage représentent un moment temporel précis au cours de la durée de votre animation. Ainsi, 10% représentera la 6ème seconde d'une animation durant une minute. Les keyframes 0% et 100% sont obligatoire et que leur omission empêchera le fonctionnement de votre animation sur certains navigateurs */

@keyframes bounceIn{
    from{
        transform: rotate(0deg);
}
    75%{
        transform: rotate(-200deg);
}
    90%{
        transform: rotate(-175deg);
    }
    to{
        transform: rotate(-180deg);
    }
}

@keyframes bounceOut{
    from{
        transform: rotate(0deg);
    }
    0%{
        transform: rotate(-180deg);
    }
    10%{
        transform: rotate(-165deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

/* ----- FIN PAGE ANIMATION ----- */

footer{
    background: #2980b9;
    height: 30px;
}